*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid blue; */
    font-family: 'Signika', sans-serif;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(37, 37, 37);
    padding: 30px 0;
    /* overflow: hidden; */
}
.container{
    /* background-color: yellow; */
    width: 850px;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.game-container{
    /* background-color: red; */
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.game-container .title{
    font-size: 2rem;
    text-align: center;
    color: blue;
    font-weight: bold;
}
.game-container .words-line{
    height: 100px;
    width: 700px;
    padding: 15px 20px;
    font-size: 1.3rem;
    background-color: rgb(29, 29, 29);
    color: white;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}
.game-container .words-line .line{
    white-space: wrap;
}
.game-container .control{
    display: flex;
    gap: 60px;
    font-size: 1.2rem;
    align-items: center;
    height: 50px;
}
.game-container .control input{
    padding: 10px 20px;
    font-size: 1.2rem;
    width: 400px;
    height: 100%;
    background-color: rgb(29, 29, 29);
    border: 1px solid #aaa;
    color: white;
    caret-color: blue;
}
.game-container .control input:focus{
    outline: none;
    border: 2px solid blue;
}
.game-container .control .timer{
    height: 100%;
    display: block;
    background-color: blue;
    line-height: 47px;
    padding: 0 20px;
    background-color: rgb(29, 29, 29);
    color: white;
}
.game-container .control button{
    height: 100%;
    display: block;
    background-color: blue;
    line-height: 47px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    background-color: rgb(29, 29, 29);
    color: white;
}








.control-container{
    /* background-color: green; */
}
.control-container .row{
    display: flex;
    justify-content: center;
    gap: 50px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 20px;
}
.control-container .row .detail{
    width: 130px;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    font-weight: 400;
}
.control-container .row .buttons{
    width: 350px;
    /* background-color: beige; */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.control-container .row button{
    padding: 8px 15px;
    border-radius: 25px;
    cursor: pointer;
    font-size: .9rem;
    background-color: transparent;
    color: white;
    border: none;
    transition: .2s linear;
    font-weight: 300;
}
.control-container .row button:hover{
    background-color: rgb(29, 29, 29);
}
.control-container .buttons button.choosen{
    background-color: rgb(29, 29, 29);
}

.test p{
    width: 800px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.test .letter{
    /* min-width: 15px; */
    height: 30px;
    font-size: 26px;
    font-weight: bold;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* color: white; */
    border-left: 3px solid transparent;
    /* animation: opacity 1s linear infinite; */
}
.test .letter:nth-child(6){
    background-color: rgba(170, 170, 170, 0.398);
    width: 10px;
}
.test .letter:nth-child(8){
    background-color: rgba(170, 170, 170, 0.398);
}
@keyframes opacity {
    0%{
        border-color: transparent;
    }
    50%{
        border-color: blue;
    }
    100%{
        border-color: transparent;
    }
}

.current{
    background-color: rgba(170, 170, 170, 0.438);
}
.false{
    color: rgba(247, 70, 70, 0.733);
}
.true{
    color: greenyellow;
}
.space{
    width: 16px;
}